body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.App {
  overflow-x: hidden;
}
.App .window {
  background-image: url('./icons/bg.jpg');
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
  position: fixed;
}
.App .window > div {
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.text {
  text-align: center;
}

.window__area {
  display: flex;
  justify-content: center;
}
.title__bar {
  align-items: center;
}
.title__bar > div {
  justify-content: flex-start;
  width: 100% !important;
}
.title__bar > div:last-child {
  text-align: left !important;
}
.doc__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.doc__wrapper .doc {
  background: #cbcbcb;
  padding: 10px 20px;
  border-radius: 10px;
}
.doc__wrapper .doc ul {
  display: flex;
}
.doc__wrapper .doc .doc__item {
  cursor: pointer;
  align-items: center;
  display: flex;
  margin-right: 10px;
}
.doc__wrapper .doc .doc__item:last-child {
  margin-right: 0;
}
.controll__wrapper {
  position: relative;
  width: 80vw !important;
}
.controll {
  display: flex;
  flex-wrap: wrap;
}

.login__wrapper {
  height: 100vh;
  background: radial-gradient(#e66465, #9198e5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.login {
  padding: 30px;
  box-shadow: 0 0 20px;
}
.login .field {
  display: flex;
  justify-content: space-between;
}

.login .error {
  color: red;
}
.login button {
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}
.login button:hover {
  transform: translateY(3px);
}

.gallery {
  width: 100%;
}
.gallery .list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  padding: 20px 30px;
  gap: 20px;
  border: 1px solid white;
  border-top: none;
  overflow-y: scroll;
  max-height: 80vh;
  background: #f6f6f6;
  position: relative;
  padding-bottom: 50px;
}

.gallery .list::-webkit-scrollbar {
  width: 20px;
}

.gallery .list::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.gallery .list::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}
.gallery .list .item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.gallery .list .item__title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.gallery .pages {
  padding: 10px;
  display: flex;
  /* position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); */
}
.btn-prev {
  position: absolute;
  left: 10%;
  bottom: 10px;
}
.btn-next {
  position: absolute;
  right: 10%;
  bottom: 10px;
}
.btn {
  padding: 4px 8px;
  background: linear-gradient(90deg, #d0368a 0%, #708ad4 99%);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.btn:first-child {
  margin-right: 20px;
}
.page {
  font-weight: 600;
  left: 50%;
  bottom: 10px;
  position: absolute;
}
.disabled {
  cursor: initial;
  background: gray;
}
